 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ck.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 697px;
}

.u-section-1 .u-group-1 {
  width: 548px;
  min-height: 548px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 88px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 29px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 6.875rem;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  text-shadow: 4px 4px 0px rgba(107,71,72,0.4);
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  align-self: center;
  text-align: center;
  margin: 13px auto 0 0;
  padding: 15px 41px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-group-1 {
    width: 595px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-group-1 {
    width: 571px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-group-1 {
    width: 462px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 41px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 31px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 842px;
}

.u-section-3 .u-shape-1 {
  width: 770px;
  height: 633px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 486px;
  height: 702px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -667px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 572px;
  height: auto;
  margin: -667px 45px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  height: 258px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 400px;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 410px;
  height: 271px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 501px;
  min-height: 498px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -534px auto 159px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-shape-1 {
    height: 598px;
    margin-top: 96px;
  }

  .u-section-3 .u-shape-2 {
    width: 316px;
    height: 577px;
    margin-top: -633px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 478px;
    margin-top: -527px;
    margin-right: 21px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 137px;
  }

  .u-section-3 .u-image-2 {
    width: 370px;
    height: 355px;
    margin-top: -197px;
  }

  .u-section-3 .u-group-2 {
    width: 454px;
    margin-top: -455px;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-3 .u-shape-1 {
    height: 555px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 498px;
    height: 784px;
    margin-top: -73px;
    margin-right: 25px;
  }

  .u-section-3 .u-group-1 {
    width: 631px;
    min-height: 618px;
    margin-top: -678px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-image-2 {
    width: 556px;
    height: 518px;
    margin-top: -198px;
  }

  .u-section-3 .u-group-2 {
    width: 692px;
    margin-top: -1168px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-3 .u-shape-2 {
    width: 393px;
    height: 698px;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 574px;
    width: 500px;
    margin-top: -636px;
  }

  .u-section-3 .u-image-2 {
    width: 446px;
    height: 446px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-top: -1193px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-3 .u-shape-2 {
    width: 250px;
    height: 428px;
    margin-top: 58px;
  }

  .u-section-3 .u-group-1 {
    min-height: 340px;
    width: 300px;
    margin-top: -384px;
  }

  .u-section-3 .u-image-1 {
    height: 219px;
    width: 340px;
    margin-top: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 270px;
    height: 231px;
    margin-top: -154px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -971px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-4 .u-text-1 {
  margin: 105px 109px 0 29px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  height: 306px;
  width: 1136px;
  margin: 108px 0 0 auto;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 3px;
}

.u-section-4 .u-icon-1 {
  height: 102px;
  width: 182px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px 97px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 3px;
}

.u-section-4 .u-icon-2 {
  height: 102px;
  width: 182px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px 97px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 3px;
}

.u-section-4 .u-icon-3 {
  height: 102px;
  width: 182px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px 97px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 3px;
}

.u-section-4 .u-icon-4 {
  height: 102px;
  width: 182px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0;
  padding: 13px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 27px;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 19px 97px 0 auto;
  padding: 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  height: 280px;
  width: 1136px;
  margin: 73px 0 60px auto;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 26px;
}

.u-section-4 .u-icon-5 {
  height: 77px;
  width: 136px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px 33px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-4 .u-btn-5 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px 78px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 26px;
}

.u-section-4 .u-icon-6 {
  height: 77px;
  width: 136px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px 33px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-4 .u-btn-6 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px 78px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 26px;
}

.u-section-4 .u-icon-7 {
  height: 77px;
  width: 136px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px 33px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-4 .u-btn-7 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px 78px 0 auto;
  padding: 0;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 26px;
}

.u-section-4 .u-icon-8 {
  height: 77px;
  width: 136px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px 33px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 23px 0 0 8px;
}

.u-section-4 .u-btn-8 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 16px 78px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: NaNpx;
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    width: 940px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 134px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    width: 720px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 578px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    width: 540px;
    margin-top: 115px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
    width: 540px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 930px;
  }

  .u-section-4 .u-repeater-1 {
    width: 340px;
    margin-top: 123px;
  }

  .u-section-4 .u-repeater-2 {
    width: 340px;
  }
} 1992
Link2
Link3
Link4 